@import '../variables';

aside {
  height: 100%;
  width: 180px;
  border-right: 1px solid #d5d5d5;
}

.sidebar {
  height: 100%;
  margin: 10px 15px;
}

.side-bar__title {
  font-size: 16px;
  font-weight: bold;
  color: #0d3964;
  margin-bottom: 10px;
}
.side-bar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.side-bar__item {
  width: 145px;
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  transition: all .5s ease-in-out;

  &.active {
    background-color: lighten(map-get($color-branding, primary), 40%);
  }

  &:hover {
    background-color: lighten(map-get($color-branding, secondary), 15%);
  }
}

.side-bar__link {
  padding-left: 15px;
  margin: 5px 0;
  font-size: 12px;
}
