/* Imports */

/*  */
.social-contact {
  display: grid;
  justify-content: center;
  align-items: center;
}

.social-inner {
  text-align: center;
}

.social__title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0.3rem;
}

.main-link {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0.1rem;
}

.social__link {
  color: blue;
}
