header {
  width: 100%;
  z-index: 10;
  position: absolute;
}

.inner-header {
  background: transparent;
  padding: 20px 40px;
  font-size: 1rem;

  .header-logo {
    .logo {
      width: 10px;
      height: 20px;
      background: #fff;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      margin-right: 10px;
    }

    .header-logo__link {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  .header-navbar {
    .navbar__list {
      .navbar__item {
        margin: 10px;

        .navbar__link {
          color: #fff;
        }

        .navbar__enquire {
          width: 70px;
          height: 30px;
          background: #444;
          color: #fff;
          font-weight: bold;
          padding: 5px;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

.outer-header {
  position: absolute;
  z-index: 10;
  width: 250px;
  top: 90px;
  left: 40px;
  display: flex;
  justify-content: center;
  text-align: center;

  .menu {
    width: 50%;

    .burger-icon {
      height: 35px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;

      .burger-line {
        width: 30px;
        height: 2px;
        margin: 1.5px;
        background: #333;
      }
    }
    .burger-menu__list {
      .burger-menu__item {
        height: 30px;
        padding: 0.5rem;

        .burger-menu__link {
          color: #fff;
        }
      }
    }
  }

  .social {
    width: 50%;

    .social-icon {
      height: 35px;
      padding: 0.5rem;
      background: #fff;
      color: #333;

      &:hover {
        .social-menu__list {
          background: #000;
        }
      }
    }

    .social-menu__list {
      .social-menu__item {
        height: 30px;
        padding: 0.5rem;
        transition: all 0.5s ease-in-out;

        .social-menu__link {
          color: #fff;
        }
      }
    }
  }
}
